form.new_user {
  label {
    display: inline-block;
    width: 25%;
  }
  input[type=text], input[type=password], input[type=number], input[type=email], select, textarea {
    display: inline-block;
    width: 70%;
  }
  .form-check {
    padding: 0;
    input[type=checkbox] {
      margin-left: 25%;
      position: relative;
      margin-right: 0.25rem;
    }
  }
  small.form-text {
    display: none;
  }
}

p.reset-password {
  margin: 1rem 0;
  padding: 1rem;
  background: $light;
  border: 1px solid $primary;
}